#### Distance Metrics to be Tested

1. Cosine 
2. Euclidean
3. Yule

In [ ]:
#'''Required Libraries (uncomment for installation)'''

# !pip install pandas
# !pip install numpy
# !pip install scipy

In [27]:
'''Importing Libraries'''

import os
import pandas as pd
import numpy as np
from scipy.spatial import distance

#### Distance Calulations

In [76]:
'''
Calculating Ditance Metrics
'''

def after_distance(cont_arr, optio):
    
    max_arr, idx2, word = [], [], []
    
    for instances in range(len(cont_arr)):
        max_arr.append(np.amax(cont_arr[instances]))
    
    for ind_val2 in range(len(max_arr)):
        idx2.append(np.where(cont_arr[ind_val2] == max_arr[ind_val2]))
    idx2 = np.asarray(idx2)

    for i in range(len(optio)):
            word.append(optio[i][idx2[i]])
        
    return max_arr, word

In [77]:
'''
Cosine Distance Function
'''

def cal_distances(quest, optio):    

    cosi_arr, eucd_arr, yule_arr = [], [], []
          
    for i in range(len(quest)):
        tmp_arr_cosi, tmp_arr_eucd, tmp_arr_yule = [], [], []
        
        for j in range(len(optio[i])):
            
            # Calculating Cosine 
            tmp_arr_cosi.append(1 - (distance.cosine(dict_word_vectors[quest[i][0]] - dict_word_vectors[quest[i][2]], \
                                                     dict_word_vectors[quest[i][1]] - dict_word_vectors[optio[i][j]])))
            
            # Calculating Euclidean 
            tmp_arr_eucd.append(1 - (distance.euclidean(dict_word_vectors[quest[i][0]] - dict_word_vectors[quest[i][2]], \
                                                        dict_word_vectors[quest[i][1]] - dict_word_vectors[optio[i][j]])))
            
            # Calculating Yule
            tmp_arr_yule.append(1 - (distance.yule(dict_word_vectors[quest[i][0]] - dict_word_vectors[quest[i][2]], \
                                                   dict_word_vectors[quest[i][1]] - dict_word_vectors[optio[i][j]])))
        
        # Appending Arrays
        cosi_arr.append(tmp_arr_cosi)
        eucd_arr.append(tmp_arr_eucd)
        yule_arr.append(tmp_arr_yule)
    
    
    max_arr_cosi, word_cosi = after_distance(cosi_arr, optio)
    max_arr_eucd, word_eucd = after_distance(eucd_arr, optio)
    max_arr_yule, word_yule = after_distance(yule_arr, optio)
    
    # Generating Dataframes
    cosi_df = pd.DataFrame({"Calculated":word_cosi, "Similarity": max_arr_cosi, "Actual":ans_list})
    eucd_df = pd.DataFrame({"Calculated":word_eucd, "Similarity": max_arr_eucd, "Actual":ans_list})
    yule_df = pd.DataFrame({"Calculated":word_yule, "Similarity": max_arr_yule, "Actual":ans_list})
    
    return cosi_df, eucd_df, yule_df

#### Calling Questions and Options Dataframes for list Conversions

In [58]:
'''Create List'''

def conv_list(df):
    que_list, opt_list = [], []
    
    for idx, row in df.iterrows():
        tmp_list_que = [row.A, row.B, row.C]
        tmp_list_opt = [row.E, row.F, row.G, row.H]

        que_list.append(tmp_list_que)
        opt_list.append(tmp_list_opt)

    return np.asarray(que_list), np.asarray(opt_list)

In [59]:
question = pd.read_csv('Que_Opt.csv', index_col=0)
answers  = pd.read_csv('Answers.csv', index_col=0)

ans_list = list(answers.T)
que_list, opt_list = conv_list(question)

#### Import Models as .txt files for different k values

In [60]:
# # For Single File Tests

# '''Importing pickle txt File'''

# import pickle

# # Provide File Path
# path = "fiction_term_embeddings_TXT/term2topic_fiction_2.txt"

# word_file = open(path, "rb")
# word_vectors = pickle.load(word_file)
# word_file.close()

# dict_word_vectors = word_vectors
# dict_word_vectors

In [78]:
# For fictional genere and all k values runs

'''Importing all txt File and converting into '''

import pickle

k_arr = ["2", "4", "8", "16", "32", "64"]
genre_arr = ["fiction", "nonfiction", "poetry"]      # Make changes in the loop - currently set to genre_arr[0] as default

for i in range(len(genre_arr)):
    for j in range(len(k_arr)):
        path = genre_arr[0] + "_term_embeddings_TXT/term2topic_" + genre_arr[0] + "_" + k_arr[j] + ".txt"
        
        word_file = open(path, "rb")
        word_vectors = pickle.load(word_file)
        word_file.close()

        dict_word_vectors = word_vectors
        dict_word_vectors
        
        cosi_similarity, eucd_similarity, yule_similarity = cal_distances(que_list, opt_list)
        
        # Displaying Similarity Scores
        
        display(cosi_similarity.style.set_caption("Cosine Similarity Scores for " + genre_arr[i] + " at " + "k = " + k_arr[j]))
        display(eucd_similarity.style.set_caption("Euclidean Similarity Scores for " + genre_arr[i] + " at " + "k = " + k_arr[j]))
        display(yule_similarity.style.set_caption("Yule Similarity Scores for " + genre_arr[i] + " at " + "k = " + k_arr[j]))

#### MDS